nav {
	background-color: grey;
	display: inline;
	height: 60px;
	width: 100%;
	position: fixed;
}

ul {
	display: inline-block;
}

li {
	text-decoration: none;
	display: inline-block;
}


.links{
	
	color: purple;
	text-decoration: none;
}